node_modules/
target/

.vscode/
.idea/
*.iml
.settings/
.classpath
.project

s4hana_pipeline/

*.edmx
integration-tests/time-off/
integration-tests/timeSheetEntryCollection/

vdm-output-tmp/
.DS_Store
