node_modules/
target/

.vscode/
.idea/
*.iml
.settings/
.classpath
.project

s4hana_pipeline/

business-partner/API_BUSINESS_PARTNER.edmx
time-off/ECTimeOff.edmx
timeSheetEntryCollection/API_MANAGE_WORKFORCE_TIMESHEET.edmx
integration-tests/time-off/

vdm-output-tmp/
.DS_Store
