general:
  productiveBranch: 'consumer-test'
  collectTelemetryData: false
stages:
  npmAudit:
    auditedAdvisories:
      - 803
      - 1068
      - 1070
      - 1184
  productionDeployment:
    cfCreateServices:
      - serviceManifest: 'services-manifest.yml'
        space: 'infra-testing'
        org: 'piper'
        credentialsId: 'devops-docker-images-IT-cf'
    cfTargets:
      - org: 'piper'
        space: 'infra-testing'
        apiEndpoint: 'https://api.cf.eu10.hana.ondemand.com'
        appName: 'devops-docker-images-IT'
        manifest: 'manifest.yml'
        credentialsId: 'devops-docker-images-IT-cf'
steps:
  cloudFoundryDeploy:
    apiEndpoint: 'https://api.cf.eu10.hana.ondemand.com'
    deployTool: cf_native
    deployType: standard
    org: piper
    space: infra-testing
    appName: 'devops-docker-images-IT'
    manifest: manifest.yml
